<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (orders.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Seller</th>
                        <th scope="col">Buyer</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Price (with post)</th>
                        <th scope="col">Delivery Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach((order, index) => { %>
                        <tr>
                            <td scope="row"><%= order.sellerName %> (<%= order.sellerEmail %>)</th>
                            <td scope="row"><%= order.buyerName %> (<%= order.buyerEmail %>)</td>
                            <td scope="row"><%= order.productName %></td>
                            <td><img src="<%= order.uri %>" class="rounded-circle player-img" alt=""></td>
                            <td scope="row"><%= order.productPrice %> (<%= order.productPostPrice %>)</td>
                            <td scope="row"><%= order.deliveryStatus %></td>
                            
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No orders found!</p>
        <% } %>
    </div>
</div>
</body>
</html>

